  <div class="jumbotron">
    <h1 class="title">医学影像中心</h1>
    <p class="slogan">我们是一家专业的影像检查及诊断机构
      <br>
      为您的健康，提供最准确的诊断及最适合的治疗指引
      <br>
      相信我们，便可放心
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">健康在这里</a></p>
  </div>

  <div class="container">
      <div class="row">
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_left">
          </div>
      </div>
  </div>
</div>
