  <div class="jumbotron">
    <h1 class="title">医学影像中心</h1>
    <p class="slogan">健康生活，源于这里，一个未来健康的指示牌。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">健康在这里</a></p>
  </div>

  <div class="container">
      <div class="row">
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_left">
          </div>
      </div>
  </div>
</div>
